@model ClientsList.Models.Cleint

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="form-control" style="width:600px;height:50px; text-align:center; margin-left:220px;background-color:#F76400;color:white; font-size:23px;"><strong>  Client Info. Edit Page</strong></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ClientID)

        <div style="width:100%; height:300px;background-color:#F1F1F1;">


            <br />

            <div class="form-group  col-md-6" style="float:left;">
                @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label col-md-5", style = "text-align:left;" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control", style = "border-color:#B4CE45;" } })
                    @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6" style="float:left;">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-5", style = "text-align:left;" })
                <div class="col-md-7">
                    @Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", style = "border-color:#B4CE45;" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6" style="float:left; ">
                @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-md-5", style = "text-align:left;" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control", style = "border-color:#B4CE45;" } })
                    @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6" style="float:left;">
                @Html.LabelFor(model => model.ProductModel, htmlAttributes: new { @class = "control-label col-md-5", style = "text-align:left;" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.ProductModel, new { htmlAttributes = new { @class = "form-control", style = "border-color:#B4CE45;" } })
                    @Html.ValidationMessageFor(model => model.ProductModel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6" style="float:left; ">
                @Html.LabelFor(model => model.SetupDate, htmlAttributes: new { @class = "control-label col-md-5", style = "text-align:left;" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.SetupDate, new { htmlAttributes = new { @class = "form-control", style = "border-color:#B4CE45;" } })
                    @Html.ValidationMessageFor(model => model.SetupDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6" style="float:left; ">
                @Html.LabelFor(model => model.OldServiceDate, htmlAttributes: new { @class = "control-label col-md-5", style = "text-align:left;" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.OldServiceDate, new { htmlAttributes = new { @class = "form-control", style = "border-color:#B4CE45;" } })
                    @Html.ValidationMessageFor(model => model.OldServiceDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6" style="float:left; ">
                @Html.LabelFor(model => model.ServiceDate, htmlAttributes: new { @class = "control-label col-md-5", style = "text-align:left;" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.ServiceDate, new { htmlAttributes = new { @class = "form-control", style = "border-color:#B4CE45;" } })
                    @Html.ValidationMessageFor(model => model.ServiceDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6" style="float:left; ">
                @Html.LabelFor(model => model.NextServiceDate, htmlAttributes: new { @class = "control-label col-md-5", style = "text-align:left;" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.NextServiceDate, new { htmlAttributes = new { @class = "form-control", style = "border-color:#B4CE45;" } })
                    @Html.ValidationMessageFor(model => model.NextServiceDate, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:450px;margin-top:20px;">
                <input type="submit" value="Save" class="btn btn-success" style="height:50px; width:200px; font-size:20px;" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action( "Index","Cleints" ) ">
        <img src="@Url.Content("~/Files/back.png") " style="height:50px; width:50px;" />
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
